<div id="<%= dom_id product_variant %>">
  <p>
    <strong>Color:</strong>
    <%= product_variant.Color %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= product_variant.Size %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= product_variant.product_id %>
  </p>

</div>
